*{margin:0; padding:0}
#container{border: 0px solid blue; width:80%; margin:10px auto;}
#header{border:0px solid blue; width:1065px; height:100px; margin:5px; text-align:center;  background-color:#999; text-align:center}
#centre{border:0px solid blue; width:1065px; height:100px; margin:5px; text-align:center;}
#nav{border:0px solid blue; width:1060px; height:70px; margin:10px; background-color:#999; text-align:center;}
#content{border:0px solid blue; width:1065px; height:600px; margin:5px;}
#footer{border:0px solid blue; width:1065px; height:50px; margin:5px; background-color:#000; color:#FFF;}
#nav a{color: #000;font-family:Georgia, "Times New Roman", Times, serif;padding:10px;width:254px;display:inline-block;text-decoration:none;letter-spacing:1px;border-right:0; line-height:1px; padding:0; text-align:center}
#nav a:hover{color: #39F;text-decoration:none;letter-spacing:3px;}
h1{letter-spacing:7px; color: #FFF; font-size:xx-large;}
#footer a{color: #F00; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding:20px; width:164px; display:inline-block;
text-decoration:none; letter-spacing:3px; text-align: right}
#centre p{color:#0C0; font-family:"Comic Sans MS", cursive;}
#form{-moz-border-radius:15px;}
#form1{color: #39F; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; letter-spacing: 1px;}
